<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
    <style type="text/css">
    	.wrapper{
		    min-height:100vh;
		    padding-top:10em;

		}
		.float_right{
		    float:right;
		}
		.wrapper_title{
		    text-align:center;
		    margin-bottom: 4em;

		}
    	body {
		    background-image: linear-gradient(skyblue, white);
		      /*background-image: url("https://media.istockphoto.com/vectors/global-communications-white-background-vector-id629447926");
		  */background-repeat: no-repeat;
		  	background-attachment: fixed;
		  	background-size: cover;
		}
    </style>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#">AppWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          	<ul class="navbar-nav mr-auto">
            	<li class="nav-item active">
              		<a class="nav-link" href="#top">Inicio <span class="sr-only">(current)</span></a>
            	</li>
	            <li class="nav-item">
	              	<a class="nav-link" href="#evaluaciones">Evaluaciones</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#evaluadores">Evaluadores</a>
	            </li>

	            <li class="nav-item">
	                <a class="nav-link" href="#rubricas" >Rubricas</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#cursos" >Cursos</a>
	            </li>
          	</ul>
            <button class="btn btn-outline-success my-2 my-sm-0" ><i class="fas fa-sign-out-alt"></i> Salir</button>  
        </div>
    </nav>

    <div class="container">
    	<br>
	  	<!-- Nav pills -->
	  	<ul class="nav nav-tabs" role="tablist">
	  		<li class="nav-item">
	  			<a class="nav-link active" data-toggle="pill" href="#informacion">Información General</a>
	  		</li>
		    <li class="nav-item">
		      	<a class="nav-link" data-toggle="pill" href="#equipos">Equipos Pendientes</a>
		    </li>
	  		<li class="nav-item">
	  			<a class="nav-link" data-toggle="pill" href="#evaluacion">Evaluación</a>
	  		</li>
		    <li class="nav-item">
		        <a class="nav-link" data-toggle="pill" href="#evaluadores">Evaluadores Autorizados</a>
		    </li>
	    	<li class="nav-item">
	      		<a class="nav-link" data-toggle="pill" href="#rubrica">Rúbrica Seleccionada</a>
	    	</li>
		</ul>

	  	<!-- Tab panes -->
		<div class="tab-content">
			<div id="informacion" class="container tab-pane active"><br>
				<div class="container">
		            <div class="row">
		                <!--Nueva Evaluación-->
		                <div class="col-lg-6">
		                    <h3>Información de Evaluación</h3>
		                    <table class="table table-success">
		                    	<tr>
		                    		<td>Curso:</td>
		                    		<td>CC4401-1</td>
		                    	</tr>
		                    	<tr>
		                    		<td>Estado:</td>
		                    		<td>No Iniciada</td>
		                    	</tr>
		                    	<tr>
		                    		<td>Fecha Inicio:</td>
		                    		<td>01-05-2019</td>
		                    	</tr>
		                    	<tr>
		                    		<td>Fecha Fin:</td>
		                    		<td>01-06-2019</td>
		                    	</tr>
		                    	<tr>
		                    		<td>Duración Esperada:</td>
		                    		<td>7 Minutos</td>
		                    	</tr>
		                    </table>
		                </div>
		                <!--Lista de Evaluaciones-->
		                <div class="col-lg-6" style="margin-top: auto; margin-bottom: auto;">
		                	<button class="btn btn-success" style="font-size:40px;">Abrir Evaluación <i class="fa fa-check"></i></button>
		                </div>
		            </div>
		        </div>
			</div>
			<div id="evaluacion" class="container tab-pane"><br>
				<table class="table table-warning" style="margin-bottom: 0px; text-align: center;">
					<tr>
						<th>Grupo: Grupo 3</th>
				    	<th>Presentador: Integrante 5</th>	
					</tr>
				</table>
				<form>
				    <table class="table table-warning" style="text-align: center; margin-bottom: 0px;">
				    	<tr>
				    		<th>Criterios</th>
				    		<th>Puntos</th>			    		
				    	</tr>
				    	<tr>
				    		<td>Criterio 1</td>
				    		<td><input type="radio" name="criterio_1" value="0.0"><br><label>0.0</label></td>
				    		<td><input type="radio" name="criterio_1" value="0.3"><br><label>0.3</label></td>
				    		<td><input type="radio" name="criterio_1" value="0.5"><br><label>0.5</label></td>
				    		<td><input type="radio" name="criterio_1" value="0.8"><br><label>0.8</label></td>
				    	</tr>
				    	<tr>
				    		<td>Criterio 2</td>
				    		<td><input type="radio" name="criterio_2" value="0.0"><br><label>0.0</label></td>
				    		<td><input type="radio" name="criterio_2" value="0.5"><br><label>0.5</label></td>
				    	</tr>
				    	<tr>
				    		<td>Criterio 3</td>
				    		<td><input type="radio" name="criterio_3" value="0.0"><br><label>0.0</label></td>
				    		<td><input type="radio" name="criterio_3" value="0.2"><br><label>0.2</label></td>
				    		<td><input type="radio" name="criterio_3" value="0.4"><br><label>0.4</label></td>
				    		<td><input type="radio" name="criterio_3" value="0.6"><br><label>0.6</label></td>
				    		<td><input type="radio" name="criterio_3" value="0.8"><br><label>0.8</label></td>
				    	</tr>
				    	<tr>
				    		<td>Criterio 4</td>
				    		<td><input type="radio" name="criterio_4" value="0.0"><br><label>0.0</label></td>
				    		<td><input type="radio" name="criterio_4" value="0.5"><br><label>0.5</label></td>
				    		<td><input type="radio" name="criterio_4" value="1.0"><br><label>1.0</label></td>
				    	</tr>
				    	<tr>
				    		<td>Criterio 5</td>
				    		<td><input type="radio" name="criterio_5" value="0.0"><br><label>0.0</label></td>
				    		<td><input type="radio" name="criterio_5" value="0.5"><br><label>0.5</label></td>
				    		<td><input type="radio" name="criterio_5" value="0.8"><br><label>0.8</label></td>
				    		<td><input type="radio" name="criterio_5" value="1.0"><br><label>1.0</label></td>
				    	</tr>
				    </table>
				    <table class="table table-warning" style="text-align: center; margin-top: 0px; margin-bottom: 10px;">
				    	<tr>
				    		<th><label>Duración de Presentación: </label><input type="text" name="" placeholder="mm:ss"></th>
				    		<th><button class="btn btn-success" type="submit" style="width: 100%">Enviar</button></th>
				    	</tr>
				    </table>
				</form>
		    </div>
		    <div id="rubrica" class="container tab-pane table-responsive-lg"><br>
		    	<button class="btn btn-warning" style="width: 40%;">Editar <i class="fa fa-edit"></i></button>
			    <table class="table table-striped">
			    	<tr>
			    		<th>Modelo de datos</td>
			    		<td>No incluye su modelo de datos<br>0.0</td>
			    		<td>Incluye su modelo de datos, pero no explica las entidades principales<br>0.3</td>
			    		<td>Incluye su modelo de datos, y explica las entidades principales<br>0.7</td>
			    		<td>Incluye su modelo de datos, explica entidades principales y las relaciones entre estas<br>1.0</td>
			    	</tr>
			    	<tr>
			    		<th>Demo: completitud c/r a funcionalidad solicitada</td>
			    		<td>Solo describe las interfaces, sin explicar cómo satisfacen los requisitos<br>0.0</td>
			    		<td>Solo para algunas interfaces muestra cómo satisfacen los requisitos funcionales<br>0.3</td>
			    		<td>Para casi todas las interfaces, muestra cómo satisfacen los requisitos funcionales<br>0.7</td>
			    		<td>Muestra claramente que las interfaces satisfacen los requisitos funcionales<br>1.0</td>
			    	</tr>
			    	<tr>
			    		<th>Demo:fallas</td>
			    		<td>Demasiadas fallas severas durante la demo, no se pudo continuar haciendo la demo<br>0.0</td>
			    		<td>Varias fallas de mediana severidad durante la demo, solo se pudo mostrar en forma parcial la funcionalidad<br>0.3</td>
			    		<td>Algunas fallas de mediana severidad durante la demo, se pudo mostrar en forma casi completa la funcionalidad<br>0.7</td>
			    		<td>Muy pocas fallas de baja severidad durante la demo, se pudo mostrar en forma completa la funcionalidad<br>1.0</td>
			    	</tr>
			    	<tr>
			    		<th>Calidad del material (presentacion y demo)</td>
			    		<td>Presentación: muchos errores ortográficos, todas las imágenes son de baja resolución. Demo: usan nombres genéricos para items, repiten casi todas las imágenes en la demo<br>0.0</td>
			    		<td>Presentación: algunos errores ortográficos, casi todas las imágenes son de baja resolución. Demo: usan algunos nombres genéricos, repiten algunas imagenes en la demo<br>0.3</td>
			    		<td>Presentación: pocos errores ortográficos, solo algunas imñagenes son de baja resolución. Demo: solo usan algunos nombres genéricos, solo repiten algunas imágenes en la demo<br>0.7</td>
			    		<td>Presentación: pocos errores ortográficos, todas las imágenes son de buena resolución. Demo: no usan nombres genéricos, ni repiten imagenes.<br>1.0</td>
			    	</tr>
			    	<tr>
			    		<th>Organización de la información</td>
			    		<td>No se entiende la Presentación o demo porque no hay secuencia lógica de información<br>0.0</td>
			    		<td>Es difícil seguir la presentación o demo, porque el presentador "salta" entre diapositivas<br>0.3</td>
			    		<td>La información está presentada en una secuencia lógica<br>0.7</td>
			    		<td>La información es presentada en una forma lógica e interesante<br>1.0</td>
			    	</tr>
			    	<tr>
			    		<th>Forma</td>
			    		<td>No se entiende lo que dice (en términos fonéticos y cinéticos)<br>0.0</td>
			    		<td>Se entiende lo que dice de manera parcial (su cuerpo no acompaña sus palabras)<br>0.3</td>
			    		<td>Se da a entender, presentando de manera eficiente y adecuado lenguaje corporal<br>0.7</td>
			    		<td>Se da a entender siempre, destacando en su forma (pausas, dicción, contacto visual, gesticulación, otros)<br>1.0</td>
			    	</tr>
			    </table>
		    </div>
		    <div id="evaluadores" class="container tab-pane fade"><br>
		      	<div class="col-lg-6">
                    <ul class="list-group">
                    	<li class="list-group-item ">
                        	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#agregar_evaluador">Nuevo Evaluador </button>
                        </li>
                        <li class="list-group-item ">
                        	<a href="">Jorge Santos </a>
                        	<div class="float_right">
                        		<span style="float:right;"></span>
                        		<span class="badge badge-pill badge-danger">Quitar</span>
                        	</div>
                        </li>
                        <li class="list-group-item ">
                        	<a href="">Natalia A. Cubillos </a>
                        	<div class="float_right">
                        		<span style="float:right;"></span>
                        		<span class="badge badge-pill badge-danger">Quitar</span>
                        	</div>
                        </li>
                        <li class="list-group-item ">
                        	<a href="">Jocelyn Simmonds </a>
                        	<div class="float_right">
                        		<span style="float:right;"></span>
                        		<span class="badge badge-pill badge-danger">Quitar</span>
                        	</div>
                        </li>
                        <li class="list-group-item ">
                        	<a href="">Nicolás Mas Uno </a>
                        	<div class="float_right">
                        		<span style="float:right;"></span>
                        		<span class="badge badge-pill badge-danger">Quitar</span>
                        	</div>
                        </li>
                    </ul>
                </div>
		    </div>
		    <div id="equipos" class="container tab-pane fade"><br>

		    	<div class="accordion col-lg-6" id="equipos_pendientes">
		    		<div class="card">
		    			<div class="card-header" id="heading_equipo_6">
		    				<h5 class="mb-0">
		    					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#equipo_6">
		    						Equipo 6
		    					</button>
		    				</h5>
		    			</div>
		    			<div id="equipo_6" class="collapse" aria-labelledby="heading_equipo_6" data-parent="#equipos_pendientes">
		    				<div class="card-body">
		    					<form>
			                		<ul class="list-group">
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 1 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span><input type="checkbox" name=""></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 2 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span class="badge badge-pill badge-success"><i class="fa fa-check"></i></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 3 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span><input type="checkbox" name=""></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 4 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span><input type="checkbox" name=""></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item">
				                        	<button class="btn btn-success" type="submit">Comenzar</button>
				                        </li>
			                		</ul>
			                	</form>
		    				</div>
		    			</div>		    			
		    		</div>

		    		<div class="card">
		    			<div class="card-header" id="heading_equipo_8">
		    				<h5 class="mb-0">
		    					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#equipo_8">
		    						Equipo 8
		    					</button>
		    				</h5>
		    			</div>
		    			<div id="equipo_8" class="collapse" aria-labelledby="heading_equipo_8" data-parent="#equipos_pendientes">
		    				<div class="card-body">
		    					<form>
			                		<ul class="list-group">
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 1 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span><input type="checkbox" name=""></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 2 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span><input type="checkbox" name=""></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 3 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span><input type="checkbox" name=""></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item">
				                        	<button class="btn btn-success" type="submit">Comenzar</button>
				                        </li>
			                		</ul>
			                	</form>
		    				</div>
		    			</div>		    			
		    		</div>

		    		<div class="card">
		    			<div class="card-header" id="heading_equipo_11">
		    				<h5 class="mb-0">
		    					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#equipo_11">
		    						Equipo 11
		    					</button>
		    				</h5>
		    			</div>
		    			<div id="equipo_11" class="collapse" aria-labelledby="heading_equipo_11" data-parent="#equipos_pendientes">
		    				<div class="card-body">
		    					<form>
			                		<ul class="list-group">
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 1 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span><input type="checkbox" name=""></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 2 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span class="badge badge-pill badge-success"><i class="fa fa-check"></i></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 3 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span><input type="checkbox" name=""></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item ">
				                        	<a href="">Integrante 4 </a>
				                        	<div class="float_right">
				                        		<span style="float:right;"></span>
				                        		<span class="badge badge-pill badge-success"><i class="fa fa-check"></i></span>
				                        	</div>
				                        </li>
				                        <li class="list-group-item">
				                        	<button class="btn btn-success" type="submit">Comenzar</button>
				                        </li>
			                		</ul>
			                	</form>
		    				</div>
		    			</div>		    			
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>


	<div class="modal" id="agregar_evaluador">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						Agregar Evaluador
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<h5>
						Evaluadores no seleccionados
					</h5>
					<form>
						<input type="checkbox" name=""> Seleccionar todos
						<ul class="list-group">
							<li class="list-group-item ">
	                        	Evaluador 5
	                        	<div class="float_right">
	                        		<span style="float:right;"></span>
	                        		<span><input type="checkbox" name=""></span>
	                        	</div>
	                        </li>
	                        <li class="list-group-item ">
	                        	Evaluador 6
	                        	<div class="float_right">
	                        		<span style="float:right;"></span>
	                        		<span><input type="checkbox" name=""></span>
	                        	</div>
	                        </li>
	                        <li class="list-group-item ">
	                        	Evaluador 7
	                        	<div class="float_right">
	                        		<span style="float:right;"></span>
	                        		<span><input type="checkbox" name=""></span>
	                        	</div>
	                        </li>
	                        <li class="list-group-item ">
	                        	Evaluador 8
	                        	<div class="float_right">
	                        		<span style="float:right;"></span>
	                        		<span><input type="checkbox" name=""></span>
	                        	</div>
	                        </li>
	                    </ul>
	                    <button type="submit" class="btn btn-success">Agregar seleccionados</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>