<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resumen de Evaluacion</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <style>
         .navigation{
             display:inline;
         }
     </style>
</head>
<body>
     

    <div class="jumbotron container mx-auto align-middle" style="height:80vh; margin-top: 10vh;">
        <div >
            
            <h1>Ingeniería de Software</h1>
        </div>
        <div class="row">
                <div class="col-lg-4">
                        <h3><span >Datos de la Evaluación</span></h3>
                       
                        <hr>
                        <p>Fecha: 05/12/1698</p>
                        <p>Duración: 4''08'</p>
                        <p>Evaluadores:</p>
                        <ul>
                            <li>Pablo Miranda Á. (Auxiliar)</li>
                            <li>María José Berger (Ayudante)</li>
                            <li>Daniela Chacón S. (Ayudante)</li>
                            <li>Jocelyn Simmonds (Profesora)</li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <h3><span style="float:inline-end">Puntajes</span></h3><br>

                        <hr>
                        <ul  class="nav justify-content-end">
                                
                                <li class="nav-item">
                                  <p class="nav-link" >Luis Montanares</p>
                                </li>
                                <li class="nav-item">
                                  <p class="nav-link" href="#">19.839.883-7</p>
                                </li>
                                <li class="nav-item">
                                <p class="nav-link" href="#">Grupo 7</p>
                                </li>
                                
                        </ul>
                        <div class="container">

                                <!--<div class="container"> -->
                                  <table class="table table-striped">
                            <thead>
                            <tr>
                              <th scope="col">Resultados</th>
                              <th scope="col">(1)</th>
                              <th scope="col">(2)</th>
                              <th scope="col">Prom.</th>
                              <th scope="col">Curso</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <th scope="row">Pregunta 1: Lorem Ipsum Blababla                             
                              <td>7.0</td>
                              <td><span style="color:red;">2.7</span></td>
                              <td>6.0</td>
                              <td>6.5</td>
                            </tr>
                            <tr>
                              <th scope="row">Pregunta 2: Lorem ipsum dolor si 
                                "</th>
                              <td><span style="color:red;">3.9</span></td>
                              <td>4.5</td>
                              <td>5.2</td>
                              <td>4.4</td>
                            </tr>
                            <tr>
                              <th scope="row">Pregunta 3: Lorem ipsum dolor sit  </th>
                              <td>4.8</td>
                              <td>6.0</td>
                              <td>5.4</td>
                              <td>5.5</td>
                            </tr>
                            <tr>
                              <th scope="row" style="float:right">NOTA</th>
                              <td>5.2</td>
                              <td>4.4</td>
                              <td>4.8</td>
                              <td>5.4</td>
                            </tr>
                          </tbody>
                          </table>
                        
                        
                              </div>
                        
                    </div>
        </div>
        
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>