<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rúbrica del evaluador</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron container mx-auto align-middle" style=" margin-top: 10vh;">
        <h1>Rúbrica:</h1>
        <h3>Rúbrica para la presentación de Tarea 4</h3>
        <!--Tabla-->
        <table class="table">
        <tbody>
        <tr>
            <td>Modelo de datos</td>
            <td>
                <div class="container">
                <div class="row">No incluye su modelo de datos</div>
                <div class="row">0.0</div>
                </div>
            </td>
            <td>
                <div class="container">
                <div class="row">Incluye su modelo de datos, pero no explica las entidades principales</div>
                <div class="row">0.3</div>
                </div>
            </td>
            <td>
                <div class="container">
                <div class="row">Incluye su modelo de datos, y explica las entidades principales</div>
                <div class="row">0.7</div>
                </div>
            </td>
            <td>
                <div class="container">
                <div class="row">Incluye su modelo de datos, explica entidades principales y las relaciones entre estas</div>
                <div class="row">1.0</div>
                </div>
            </td>
        </tr>
        <br>
        <tr>
            <td>Demo: completitud c/r a funcionalidad solicitada</td>
            <td>
                <div class="container">
                <div class="row">Solo describe las interfaces, sin explicar cómo satisfacen los requisitos</div>
                <div class="row">0.0</div>
                </div>
                
            </td>
            <td>
                <div class="container">
                <div class="row">Solo para algunas interfaces muestra cómo satisfacen los requisitos funcionales</div>
                <div class="row">0.3</div>
                </div>
                </td>
        
            <td>
                <div class="container">
                <div class="row">Para casi todas las interfaces, muestra cómo satisfacen los requisitos funcionales</div>
                <div class="row">0.7</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Muestra claramente que las interfaces satisfacen los requisitos funcionales</div>
                    <div class="row">1.0</div>
                </div>
                </td>
        </tr>

        <br>
        <tr>
            <td>Demo:fallas</td>
            <td>
                <div class="container">
                    <div class="row">Demasiadas fallas severas durante la demo, no se pudo continuar haciendo la demo</div>
                    <div class="row">0.0</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Varias fallas de mediana severidad durante la demo, solo se pudo mostrar en forma parcial la funcionalidad</div>
                    <div class="row">0.3</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Algunas fallas de mediana severidad durante la demo, se pudo mostrar en forma casi completa la funcionalidad</div>
                    <div class="row">0.7</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Muy pocas fallas de baja severidad durante la demo, se pudo mostrar en forma completa la funcionalidad</div>
                    <div class="row">1.0</div>
                </div>
            </td>
        </tr>

        <br>
        <tr>
            <td>Calidad del material (presentacion y demo)</td>
            <td>
                <div class="container">
                    <div class="row">Presentación: muchos errores ortográficos, todas las imágenes son de baja resolución. Demo: usan nombres genéricos para items, repiten casi todas las imágenes en la demo</div>
                    <div class="row">0.0</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Presentación: algunos errores ortográficos, casi todas las imágenes son de baja resolución. Demo: usan algunos nombres genéricos, repiten algunas imagenes en la demo</div>
                    <div class="row">0.3</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Presentación: pocos errores ortográficos, solo algunas imñagenes son de baja resolución. Demo: solo usan algunos nombres genéricos, solo repiten algunas imágenes en la demo</div>
                    <div class="row">0.7</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Presentación: pocos errores ortográficos, todas las imágenes son de buena resolución. Demo: no usan nombres genéricos, ni repiten imagenes.</div>
                    <div class="row">1.0</div>
                </div>
            </td>
        </tr>

        <br>
        <tr>
            <td>Organización de la información</td>
            <td>
                <div class="container">
                    <div class="row">No se entiende la Presentación o demo porque no hay secuencia lógica de información</div>
                    <div class="row">0.0</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Es difícil seguir la presentación o demo, porque el presentador "salta" entre diapositivas</div>
                    <div class="row">0.3</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">La información está presentada en una secuencia lógica</div>
                    <div class="row">0.7</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">La información es presentada en una forma lógica e interesante</div>
                    <div class="row">1.0</div>
                </div>
            </td>
        </tr>

        <br>
        <tr>
            <td>Forma</td>
            <td>
                <div class="container">
                    <div class="row">No se entiende lo que dice (en términos fonéticos y cinéticos)</div>
                    <div class="row">0.0</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Se entiende lo que dice de manera parcial (su cuerpo no acompaña sus palabras)</div>
                    <div class="row">0.3</div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">Se da a entender, presentando de manera eficiente y adecuado lenguaje corporal</div>
                    <div class="row">0.7</div>
                </div>
            </td>
            <td>
                    <div class="row">Se da a entender siempre, destacando en su forma (pausas, dicción, contacto visual, gesticulación, otros)</div>
                    <div class="row">1.0</div>
            </td>
        </tr>
        <br>
        </tbody>
        </table> <!--Cierre tabla-->
        <!-- Duración-->
        <div class="container">
            <div class="row">Duración mínima: 6 minutos.</div>
            <div class="row">Duración máxima: 8 minutos.</div>
        </div>
    
    </div>
</body>
</html>