<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rúbrica del administrador</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
</head>
<body>
    <div class="jumbotron container mx-auto align-middle" style="height:80vh; margin-top: 10vh;">
        <h1>Rúbrica:</h1>
        <h3>Nombre de la rúbrica</h3>
        <br>       
        <button type="button">Agregar aspecto</button>
        <button type="button" style="float:right;">Guardar</button>       
        <br>
        <br>
        <div class="row">
            
        </div>
        <!-- Duración-->
        <label for="duracion-min">Duración mínima:</label>
        <input class= "rounded" type="text" id="duracion-min">
        <br>
        <label for="duracion-max">Duración máxima:</label>
        <input class= "rounded" type="text" id="duracion-max">
    </div>
</body>
</html>